.pages {
    margin: 18px 0 95px;
    align-self: center;
    border: #EBEBEB 1px solid;
}

.pages button {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #EBEBEB;

    background-color: white;
    border: none;
    margin: 12px;
}
